extends layout

block content
  form.screen(novalidate='')
  input#start(type='checkbox' tabindex='-1')
  input#end(type='checkbox' tabindex='-1')
  input#last(type='checkbox' tabindex='-1')
  .sky
    div
    div
  .base
    input(type='checkbox' tabindex='-1' required='')
    .container.horizontal
      .block.floating.horizontal
      .block.horizontal
        input(type='checkbox' tabindex='-1')
        .container.vertical
          .block.floating.vertical
          .block.vertical
            input(type='checkbox' tabindex='-1')
            .container.horizontal
              .block.floating.horizontal
              .block.horizontal
                input(type='checkbox' tabindex='-1')
                .container.vertical
                  .block.floating.vertical
                  .block.vertical
                    input(type='checkbox' tabindex='-1')
                    .container.horizontal
                      .block.floating.horizontal
                      .block.horizontal
                        input(type='checkbox' tabindex='-1')
                        .container.vertical
                          .block.floating.vertical
                          .block.vertical
                            input(type='checkbox' tabindex='-1')
                            .container.horizontal
                              .block.floating.horizontal
                              .block.horizontal
                                input(type='checkbox' tabindex='-1')
                                .container.vertical
                                  .block.floating.vertical
                                  .block.vertical
                                    input(type='checkbox' tabindex='-1')
                                    .container.horizontal
                                      .block.floating.horizontal
                                      .block.horizontal
                                        input(type='checkbox' tabindex='-1')
                                        .container.vertical
                                          .block.floating.vertical
                                          .block.vertical
                                            input(type='checkbox' tabindex='-1')
                                            .container.horizontal
                                              .block.floating.horizontal
                                              .block.horizontal
                                                input(type='checkbox' tabindex='-1')
                                                .container.vertical
                                                  .block.floating.vertical
                                                  .block.vertical
                                                    input(type='checkbox' tabindex='-1')
                                                    .container.horizontal
                                                      .block.floating.horizontal
                                                      .block.horizontal
                                                        input(type='checkbox' tabindex='-1')
                                                        .container.vertical
                                                          .block.floating.vertical
                                                          .block.vertical
                                                            input(type='checkbox' tabindex='-1')
                                                            .container.horizontal
                                                              .block.floating.horizontal
                                                              .block.horizontal
                                                                input(type='checkbox' tabindex='-1')
                                                                .container.vertical
                                                                  .block.floating.vertical
                                                                  .block.vertical
                                                                    input(type='checkbox' tabindex='-1')
                                                                    .container.horizontal
                                                                      .block.floating.horizontal
                                                                      .block.horizontal
                                                                        input(type='checkbox' tabindex='-1')
                                                                        .container.vertical
                                                                          .block.floating.vertical
                                                                          .block.vertical
                                                                            input(type='checkbox' tabindex='-1')
                                                                            .container.horizontal
                                                                              .block.floating.horizontal
                                                                              .block.horizontal
                                                                                input(type='checkbox' tabindex='-1')
                                                                                .container.vertical
                                                                                  .block.floating.vertical
                                                                                  .block.vertical
                                                                                    input(type='checkbox' tabindex='-1')
                                                                                    .container.horizontal
                                                                                      .block.floating.horizontal
                                                                                      .block.horizontal
                                                                                        input(type='checkbox' tabindex='-1')
                                                                                        .container.vertical
                                                                                          .block.floating.vertical
                                                                                          .block.vertical
                                                                                            input(type='checkbox' tabindex='-1')
                                                                                            .container.horizontal
                                                                                              .block.floating.horizontal
                                                                                              .block.horizontal
                                                                                                input(type='checkbox' tabindex='-1')
                                                                                                .container.vertical
                                                                                                  .block.floating.vertical
                                                                                                  .block.vertical
                                                                                                    input(type='checkbox' tabindex='-1')
                                                                                                    .container.horizontal
                                                                                                      .block.floating.horizontal
                                                                                                      .block.horizontal
                                                                                                        input(type='checkbox' tabindex='-1')
                                                                                                        .container.vertical
                                                                                                          .block.floating.vertical
                                                                                                          .block.vertical
                                                                                                            input(type='checkbox' tabindex='-1')
                                                                                                            .container.horizontal
                                                                                                              .block.floating.horizontal
                                                                                                              .block.horizontal
                                                                                                                input(type='checkbox' tabindex='-1')
                                                                                                                .container.vertical
                                                                                                                  .block.floating.vertical
                                                                                                                  .block.vertical
                                                                                                                    input(type='checkbox' tabindex='-1')
                                                                                                                    .container.horizontal
                                                                                                                      .block.floating.horizontal
                                                                                                                      .block.horizontal
                                                                                                                        input(type='checkbox' tabindex='-1')
                                                                                                                        .container.vertical
                                                                                                                          .block.floating.vertical
                                                                                                                          .block.vertical
                                                                                                                            input(type='checkbox' tabindex='-1')
                                                                                                                            .container.horizontal
                                                                                                                              .block.floating.horizontal
                                                                                                                              .block.horizontal
                                                                                                                                input(type='checkbox' tabindex='-1')
                                                                                                                                .container.vertical
                                                                                                                                  .block.floating.vertical
                                                                                                                                  .block.vertical
                                                                                                                                    input(type='checkbox' tabindex='-1')
                                                                                                                                    .container.horizontal
                                                                                                                                      .block.floating.horizontal
                                                                                                                                      .block.horizontal
                                                                                                                                        input(type='checkbox' tabindex='-1')
                                                                                                                                        .container.vertical
                                                                                                                                          .block.floating.vertical
                                                                                                                                          .block.vertical
                                                                                                                                            input(type='checkbox' tabindex='-1')
                                                                                                                                            .container.horizontal
                                                                                                                                              .block.floating.horizontal
                                                                                                                                              .block.horizontal
                                                                                                                                                input(type='checkbox' tabindex='-1')
                                                                                                                                                .container.vertical
                                                                                                                                                  .block.floating.vertical
                                                                                                                                                  .block.vertical
                                                                                                                                                    input(type='checkbox' tabindex='-1')
                                                                                                                                                    .container.horizontal
                                                                                                                                                      .block.floating.horizontal
                                                                                                                                                      .block.horizontal
                                                                                                                                                        input(type='checkbox' tabindex='-1')
                                                                                                                                                        .container.vertical
                                                                                                                                                          .block.floating.vertical
                                                                                                                                                          .block.vertical
                                                                                                                                                            input(type='checkbox' tabindex='-1')
                                                                                                                                                            .container.horizontal
                                                                                                                                                              .block.floating.horizontal
                                                                                                                                                              .block.horizontal
                                                                                                                                                                input(type='checkbox' tabindex='-1')
                                                                                                                                                                .container.vertical
                                                                                                                                                                  .block.floating.vertical
                                                                                                                                                                  .block.vertical
                                                                                                                                                                    input(type='checkbox' tabindex='-1')
                                                                                                                                                                    .container.horizontal
                                                                                                                                                                      .block.floating.horizontal
                                                                                                                                                                      .block.horizontal
                                                                                                                                                                        input(type='checkbox' tabindex='-1')
                                                                                                                                                                        .container.vertical
                                                                                                                                                                          .block.floating.vertical
                                                                                                                                                                          .block.vertical
                                                                                                                                                                            input(type='checkbox' tabindex='-1')
                                                                                                                                                                            .container.horizontal
                                                                                                                                                                              .block.floating.horizontal
                                                                                                                                                                              .block.horizontal
                                                                                                                                                                                input(type='checkbox' tabindex='-1')
                                                                                                                                                                                .container.vertical
                                                                                                                                                                                  .block.floating.vertical
                                                                                                                                                                                  .block.vertical
                                                                                                                                                                                    input(type='checkbox' tabindex='-1')
                                                                                                                                                                                    .container.horizontal
                                                                                                                                                                                      .block.floating.horizontal
                                                                                                                                                                                      .block.horizontal
                                                                                                                                                                                        input(type='checkbox' tabindex='-1')
                                                                                                                                                                                        .container.vertical
                                                                                                                                                                                          .block.floating.vertical
                                                                                                                                                                                          .block.vertical
                                                                                                                                                                                            input(type='checkbox' tabindex='-1')
                                                                                                                                                                                            .container.horizontal
                                                                                                                                                                                              .block.floating.horizontal
                                                                                                                                                                                              .block.horizontal
                                                                                                                                                                                                input(type='checkbox' tabindex='-1')
                                                                                                                                                                                                .container.vertical
                                                                                                                                                                                                  .block.floating.vertical
                                                                                                                                                                                                  .block.vertical
                                                                                                                                                                                                    input(type='checkbox' tabindex='-1')
                                                                                                                                                                                                    .container.horizontal
                                                                                                                                                                                                      .block.floating.horizontal
                                                                                                                                                                                                      .block.horizontal
                                                                                                                                                                                                        label.last(for='last' tabindex='-1')
                                                                                                                                                                                                        .container.vertical
                                                                                                                                                                                                          .block.floating.vertical
                                                                                                                                                                                                          .block.vertical
                                                                                                                                                                                                            label.end.horizontal(for='end')
                                                                                                                                                                                                            label.end.vertical(for='end')
  .points
  label.start(for='start' tabindex='-1')
    | PURE CSS
    br
    | STACK
  button(type='reset' tabindex='-1')
    | CLICK OR TAP
    br
    |         TO RESTART

  script(src="./javascripts/lib.js")
  script(src="./javascripts/index.js")
  link(rel='stylesheet', href='/stylesheets/stack.css')